@font-face {
  font-family: "Hylia";
  src: url("/assets/fonts/HYLIASERIFBETA-REGULAR.OTF");
}
@font-face {
  font-family: "Calamity";
  src: url("/assets/fonts/CALAMITY-REGULAR.OTF");
}
@font-face {
  font-family: "Calamity";
  src: url("/assets/fonts/CALAMITY-BOLD.OTF");
  font-weight: bold;
}
.hylia {
  font-family: "Hylia";
}

.hylia-bold {
  font-family: "Hylia";
  font-weight: bold;
}

.calamity {
  font-family: "Calamity";
}

.calamity-bold {
  font-family: "Calamity";
  font-weight: bold;
}

.center {
  position: absolute;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glow-blue {
  color: #00def7;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #00def7, 0 0 20px #00def7, 0 0 30px #0b191d, 0 0 40px #0b191d;
  }
  to {
    text-shadow: 0 0 20px #00def7, 0 0 30px #12272e;
  }
}
