@font-face {
  font-family: "Hylia Serif";
  src: url("/assets/fonts/HYLIASERIFBETA-REGULAR.OTF");
}
@font-face {
  font-family: "Calamity";
  src: url("/assets/fonts/CALAMITY-REGULAR.OTF");
}
@font-face {
  font-family: "Calamity";
  src: url("/assets/fonts/CALAMITY-BOLD.OTF");
  font-weight: bold;
}
.hylia {
  font-family: "Hylia Serif";
}

.hylia-bold {
  font-family: "Hylia Serif";
  font-weight: bold;
}

.calamity {
  font-family: "Calamity";
}

.calamity-bold {
  font-family: "Calamity";
  font-weight: bold;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glow-blue {
  color: #adffff;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #adffff, 0 0 20px #adffff, 0 0 30px #608d9f, 0 0 40px #608d9f, 0 0 50px #608d9f, 0 0 60px #608d9f, 0 0 70px #608d9f;
  }
  to {
    text-shadow: 0 0 20px #adffff, 0 0 30px #30464f, 0 0 40px #30464f, 0 0 50px #30464f, 0 0 60px #30464f, 0 0 70px #30464f, 0 0 80px #30464f;
  }
}
